@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lexend", serif;
}

#telaCadastro{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topo h1{
    font-size: 90px;
    color: #3A73DB;
}

.topo p{
    font-size: 32px;
}

.acesso{
}

.acesso nav{
    display: flex;
    justify-content: space-around;
}

.acesso li{

}

.coordenacao:hover{

}

.professor:hover{

}

.aluno:hover{

}

