@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lexend", serif;
}

#telaCadastro{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topo h1{
    font-size: 70px;
    font-weight: 500;
    color: #3A73DB;
}

.topo p{
    font-size: 25px;
    font-weight: 600;
}

.acesso{
}

.acesso ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    font-size: 23px;
    font-weight: bold;
    margin-top: 30px;
    
}

.acesso li{
    list-style: none;
    color: #DEDEDE;
    cursor: pointer;
    background-image: linear-gradient(90deg, black, black);
    background-repeat: no-repeat;
    background-size: 0% 3px;
    background-position: left bottom;
    transition: 500ms ease;
}

.coordenacao:hover{
    color: black;
    background-size: 100% 3px;

}

.professor:hover{
    color: black;
    background-size: 100% 3px;
}

.aluno:hover{
    color: black;
    background-size: 100% 3px;
}

